@media (max-width:250px){
    .recaptcha {
       transform: scale(0.3);
    }
}
@media (max-width:300px) and (min-width:250px){
    .recaptcha {
       transform: scale(0.4);
    }
}
@media (max-width:400px) and (min-width:300px){
    .recaptcha {
       transform: scale(0.5);
    }
}
@media (max-width:500px) and (min-width:400px){
    .recaptcha {
       transform: scale(0.7);
    }
}